doctype html
html
    head
        link(href="/style.css", rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
    body
        header
            div(id="staticBG")
            h1(id="title") Lightsaber
            div(id="menuBtn")
                div
                    div(class="menuBar top")
                    div(class="menuBar mid")
                    div(class="menuBar bot")
        nav(id="nav")
            ul
                each item in config.menu
                    li
                        a(href=item[1] id=item[0]) #{item[0]}

        section(id="main_section")
            block content
        script(src="/scripts/updateNav.js")
    footer
        p ryanunroe@gmail.com
